.incomes_salle{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 40px;
   color: var(--color-primary-dark);
   font-size: 22px;
   font-weight: 600;
     font-family: "Noto Sans Thaana", sans-serif;
}
.in_icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    background: #3b83f63f;
    width: 35px;
    height: 35px;
}
.in_icon svg{
    width: 22px;
}